body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.about-me {
    text-align: center;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info a {
    text-decoration: none;
    color: #007bff;
}

.contact-info a:hover {
    text-decoration: underline;
}


nav {
    background-color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav li {
    float: left;
    margin-left: 200px;
}


nav a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
