body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: rgb(106, 93, 250);
}

.experience-item {
    margin-bottom: 20px;
}

.experience-item h2 {
    font-size: 1.5rem;
}

.experience-item h3 {
    font-size: 1.2rem;
}

.experience-item p {
    line-height: 1.6;
}

.experience-item .date {
    font-style: italic;
}


nav {
    background-color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav li {
    float: left;
    margin-left: 200px;
}


nav a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
